<?xml version="1.0" encoding="utf-8"?>
<config>
	<database dbname="photoarchive" connectionstring="xml:" />
	<!-- Troshkov machine-->
	<LoadCassette>C:\Users\Kamroni\Desktop\SypCassete</LoadCassette>
	<!--<LoadCassette>../../../Documents/cassetes/test_cassete</LoadCassette>-->
	<!--<LoadCassette write="yes">C:\Users\Kamroni\Desktop\DoingFactography\Resources\Cassette_20211014</LoadCassette>-->
	<!-- MAG machine -->
	<!--  <LoadCassette>D:\Home\FactographProjects\Cassette_20211014</LoadCassette>
  <LoadCassette write="yes">D:\Home\FactographProjects\Cassette_test20180311</LoadCassette>-->
	<LoadCassette>C:\Users\Kamroni\Desktop\DoingFactography\BlazorServer/wwwroot/cassettes/test_cassete</LoadCassette>
</config>