<?xml version="1.0" encoding="utf-8" ?>
<config>
  <database dbname="photoarchive" connectionstring="trs:D:\Home\data\trs\" />
  <!--database dbname="db" connectionstring="om:D:\Home\data\om\" /-->

  <LoadCassette>D:\Home\FactographProjects\syp_cassettes\SypCassete</LoadCassette>

  <!--<LoadCassette>D:\Home\FactographProjects\newspaper</LoadCassette>-->

  <LoadCassette write="yes">D:\Home\FactographProjects\Cassette_test20180311</LoadCassette>

</config>
