@using System.Xml.Linq
@model XElement

<h1>FactographView</h1>
@if (Model == null)
{
    <div>Undefined record</div>
}
else
{

<div>
    <a href="">@Model.Attribute("type").Value</a>
    @foreach (var field in Model.Elements("field"))
    {
        <span>@field.Attribute("prop").Value</span>
        <span>: </span>
        <span>@field.Value</span>
    }
</div>

    <hr />
    <pre>@Model.ToString()</pre>


}
