@using RDFEngine
@model RRecord

@{ 
    if (Model == null) return;
}
<h2>Персона</h2>

<div>
    <table>
        @foreach (var property in Model.Props)
        {
            string priznak = "";
            string value = "";
            if (property is RField)
            {
                RField f = (RField)property;
                value = f.Value;
            }
            else if (property is RLink)
            {
                RLink l = (RLink)property;
                value = l.Resource;
            }
            else if (property is RInverse)
            {
                priznak = "inv";
                RInverse i = (RInverse)property;
                value = i.Source;
            }
            <tr><td>@priznak</td><td>@property.Prop</td><td><b>@value</b></td></tr>
        }
    </table>
</div>

