@{
    ViewData["Title"] = "Home Page";
}

<h1>Index</h1>
<a href="/Home/Portrait/famwf1234_1005">Ссылка на портрет Саввы Ивановича</a>
<a href="/Home/Show/famwf1234_1005">Ссылка на Show Саввы Ивановича</a>
<a href="/Home/Show/p0">Ссылка на Show Сергея</a>
