@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>База данных</title>
    <link rel="shortcut icon" href="https://www.thismarketerslife.it/site/wp-content/uploads/2015/07/stanchy.png" type="image/gif" />
</head>

<h1>Index</h1>

@using(Html.BeginForm("Show","Home", FormMethod.Post))
    { 
        <p><input type="text" name="searchstring" placeholder="Поиск" /></p>
        <p><input type="submit" /></p>
    }

<a href="/Home/Portrait/famwf1234_1005">Ссылка на портрет Саввы Ивановича</a>
<a href="/Home/Show/famwf1234_1005">Ссылка на Show Саввы Ивановича</a>
<a href="/Home/Show/p0">Ссылка на Show Сергея</a>
<a href="/Home/Show/?searchstring=Людмила">Поиск Людмилы</a>
<a href="/Home/Show/?id=syp2001-p-marchuk_a">Тестируемая страница</a>