@page "/IndexLearn"

@using RDFEngine

<h1>страница /Home</h1>

<div>
    <input @bind="searchsample" />
</div>
@if (!string.IsNullOrEmpty(searchsample))
{
    var query = Infobase.engine.RSearch(searchsample);
    foreach (RRecord rec in query)
    {
        <div>
            <span>@rec.Tp</span> &nbsp;
            <a href="javascript:void(0)" @onclick="@(e =>BuildPortrait(rec.Id))">@rec.GetName()</a>
        </div>
    }
}
else if (model != null)
{
    <pre>@model.ToString()</pre>
}

@code{
    private string searchsample = "";
    private RRecord model = null;
    private void BuildPortrait(string id)
    {
        model = Infobase.engine.GetRRecord(id);
        if (model != null)
        {
            searchsample = null;
        }
    }
}

